<!-- 
<form [formGroup]='loginForm' (ngSubmit)='onSubmit()'>

    <input type="text" name="name" formControlName='name' placeholder="Enter Name">

    <input type="email" name="email" formControlName='email' placeholder="Enter Email">

    <input type="number" name="number" formControlName='number' placeholder="Enter Phone">

    <input type="date" name="date" formControlName='date' placeholder="Enter Date of Birth">

    <input type="text" name="Govt" formControlName='Govt' placeholder="Enter Local Govt">

    <input type="text" name="town" formControlName='town' placeholder="Enter Town">

    <input type="text" name="ward" formControlName='ward' placeholder="Enter Ward">

    <input type="text" name="village" formControlName='village' placeholder="Enter Village">

    <input type="text" name="occupation" formControlName='occupation' placeholder="Enter Occupation">

    <button type="submit">Login</button>
</form> -->